
     <!-- Footer
      ================================================== -->
      <footer class="footer">
        <p class="pull-right"><a href="#">Back to top</a></p>

        <p>{site_name}<br/>Built with bootstrap</p>

      </footer>

    </div><!-- /container -->
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

  </body>
</html>
