<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{site_name}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">


    <!-- Our Specific usage -->
    <link href="/assets/css/screen.css" rel="stylesheet">


  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="100">


  <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{site_name}</a>
          <div class="nav-collapse">
            
            <ul class="nav pull-right">
                {if logged_in}
                <li><a href="{path='LOGOUT'}">{screen_name} ({email}) Log out</a></li>
                {if:else}
                <li><a href="/login">Login</a></li>
                {/if}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="container">
