
{exp:sift:form
	return="/search"
	matrix_field="matrix_field"}
<form class="form-search" method="get" action="/search">

  	<div class="control-group">
	    <input type="text" class="span1" placeholder="Title" name="col_id_1" value="{col_id_1}">
	    

		<select name="cell_extra">
			<option></option>
		{cell_extra}
		    <option value="{value}">{value}</option>
		{/cell_extra}
		</select>



	    <label>
		    <input type="checkbox" class="span1" name="seperate_matrix_rows" value="no" {if seperate_matrix_rows=='no'} checked="checked" {/if}> 
		    Don't seperate rows
		</label>
    </div>

    <button type="submit" class="btn search-query">Search</button>
</form>
{/exp:sift:form}
