{embed="inc/_head"}
	

<!-- Grid system
================================================== -->
<section>
	<div class="page-header">
		<h1>Overview <small>what this prototype shows</small></h1>
		<p>This prototype is used to show and test functionality for the <strong>Sift</strong> addon.</p>
	</div>
	<div class="row">
		<div class="span3">
			<h2 id="search_title">Search</h2>
			<p>Use <strong>Sift</strong> to search through matrix rows.</p>

			{embed="inc/_search_form"}

			
		</div>

		<div class="span9">
			<div id="search_results">
			<h2>Entries</h2>

	
			{exp:channel:entries 
				dynamic="no" 
				channel="tyres"
				limit="2"
				paginate="both"
				paginate_base="/"}

				<h4>#{entry_id} {title}  <small>{absolute_count}</small></h4>				
				
				<table class="table table-bordered table-striped">
	              <thead>
	                <tr>
	                  <th>Width m</th>
	                  <th>Profile</th>
	                  <th>Diameter</th>
	                  <th>Load Speed</th>
	                  <th>Height I</th>
	                  <th>Width I</th>
	                  <th>Ply</th>
	                  <th>Price</th>
	                </tr>
	              </thead>
	              <tbody>
	              	{tyre_options}
	              	<tr>
	              		<td>{width_m}</td>
	              		<td>{profile}</td>
	              		<td>{diameter}</td>
	              		<td>{load_speed}</td>
	              		<td>{height_i}</td>
	              		<td>{width_i}</td>
	              		<td>{ply}</td>
	              		<td>{price}</td>
	              	</tr>
	              	{/tyre_options}
	              </tbody>
	            </table>
		        <hr/>

		        {paginate}
		        	-{pagination_links}-
		        {/paginate}
			{/exp:channel:entries}
			</div>



		</div>
		
	</div>
</section>


<hr class="soften">

{embed="inc/_foot"}