
{exp:sift:form}
<form class="form-search" method="get" action="/search">


  	<div class="control-group">
	    <input type="text" class="span1" placeholder="Title" name="col_id_1" value="{col_id_1}">
	    <input type="text" class="span1" placeholder="Extra" name="cell_extra" value="{cell_extra}">
	    <label>
		    <input type="checkbox" class="span1" name="seperate_matrix_rows" value="no" {if seperate_matrix_rows=='no'} checked="checked" {/if}> 
		    Don't seperate rows
		</label>

		 <label>
		    <input type="checkbox" class="span1" name="inclusive_search" value="no" {if inclusive_search=='no'} checked="checked" {/if}> 
		   	Inclusive Search
		</label>
    </div>

    <button type="submit" class="btn search-query">Search</button>
</form>
{/exp:sift:form}
