RewriteEngine On
#This is here to prevent hacking into the system via the 
#exisiting .svn folders. 
RewriteRule (\.svn)/(.*?) - [F,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /index.php/$1 [L] 


AddHandler php5-script .php
